@model lab1_1.Models.Calculator
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <div class="text-center">
        <h1 class="display-4">Калкулатор</h1>
        <p><input type="number" asp-for="value1" placeholder="Первое число" /></p>
        <p><input type="number" asp-for="value2" placeholder="Второе число" /></p>
        
        <div class="parent">
            <div class="child">
                <p><input class="knopka rig" type="submit" value="Сложить" asp-for="calculate" /></p>
                <p><input class="knopka rig" type="submit" value="Вычесть" asp-for="calculate" /></p>
            </div>
            <div class="child">
                <p><input class="knopka lef" type="submit" value="Умножить" asp-for="calculate" /></p>
                <p><input class="knopka lef" type="submit" value="Поделить" asp-for="calculate" /></p>
            </div>
        </div>
        
        <p><label>Результат</label></p>
        <p><input type="number" asp-for="@ViewData["result"]" readonly="readonly"/></p>
    </div>
</form>
