@page
@using MySql.Data.MySqlClient;
@using System.Data.SqlClient;


@model NewsModel
@{ ViewData["Title"] = "Новости"; }


<div class="text-center">
    <fieldset>
        <legend>Добавление новой новости</legend>
        <form method="post">
            <label asp-for="formNews.title">Заголовок новости: </label>
            <input type="text" asp-for="formNews.title" placeholder="Заголовок" autocomplete="off" />
            <span asp-validation-for="formNews.title" class="textErr"></span><br />

            <label asp-for="formNews.text">Текст статьи: </label>
            <input type="text" asp-for="formNews.text" placeholder="Статья" autocomplete="off" />
            <span asp-validation-for="formNews.text" class="textErr"></span><br />

            <label asp-for="formNews.raiting">Рейтинг статьи: </label>
            <input type="text" asp-for="formNews.raiting" placeholder="8,5" autocomplete="off" />
            <span asp-validation-for="formNews.raiting" class="textErr"></span><br />

            <button type="submit">Сохранить</button>
        </form>
    </fieldset>
</div>
<div style="text-align:center">
    <div>
        <h3>НОВОСТИ</h3>
        @{
            MySqlConnection connection = Model.GetConnection();
            MySqlCommand command = connection.CreateCommand();
            command.CommandText = "SELECT * FROM news";
            MySqlCommand select = new MySqlCommand(command.CommandText, connection);
            var reader = select.ExecuteReader();
            int newsCount = 0;
            while (reader.Read())
            {
                <div class="nl">
                    <div style="font-weight:bold">@reader["title"]</div>
                    @reader["tekst"]
                    <div style="text-align:right; margin-right:20px;color:white;text-shadow:1px 1px 2px black">Рейтинг: @reader["raiting"]</div>
                </div>
                <hr width="25%" color="gray"/>
                newsCount++;
            }
        }
        @{ 
            reader.Close();
            connection.Close();
        }
        @if (newsCount == 0)
        {
            <span id="emptyList">Список пуст</span>
        }
    </div>
</div>
