#redtxt {
    color: red;
}
#orngtxt {
    color: orange;
}
#grntxt {
    color: green;
}
#blutxt {
    color: blue;
}
#violtxt {
    color: violet;
}

a:link {
    color: green;
}
a:visited {
    color: violet;
}
a:active {
    color: orange;
}