@model WebApplication1.Model.News;
@{
    ViewData["Title"] = "Добавить новость";
}

<div>
    <h2>Добавить Новость</h2>
    <form asp-controller="Home" asp-action="AddBranch" method="post">
        <div>
            <label asp-for="ID"> id </label>
            <input type="number" asp-for="ID" placeholder="ID" value="">
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="title"> title </label>
            <input type="text" asp-for="title" placeholder="title" value="">
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="text"> text </label>
            <input type="text" asp-for="text" placeholder="text" value="">
            <span asp-validation-for="text" class="text-danger" value=""></span>
        </div>
        <div>
            <label asp-for="raiting"> raiting </label>
            <input type="text" asp-for="raiting" placeholder="raiting" value="">
            <span asp-validation-for="raiting" class="text-danger"></span>
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
<br />
<div>
    <a asp-action="Index">Вернуться к детальному просмотру</a>
</div>
