@using WebApplication1.Model

@model News;




<div>
    <h3>Новости</h3>
    <button type="button" onclick="location.href='@Url.Action("AddBranch","Home")'">
        Добавить отдел
    </button>
    <button type="button" onclick="location.href='@Url.Action("ClearNewsList","Home")'">
        Очистить список
    </button>
</div>
<div>
    @{
        int newsCount = 0;
        
    }
    @if (newsCount == 0)
    {
        <a style="color: lightgray; font-size: 24px">Пустой список</a>
    }

</div>





