h1 {
    color: teal;
}

h2 {
    color: #008080;
}

h3 {
    color : rgb(0,128,128);
}

h4 {
    color : hsl(180,100%,25%);
}

h5 {
    color : rgba(0,128,128,0.7);
}

h6 {
    color : hsla(180,100%,25%,0.4);
}