html {
    color: white;
}
body {
    /* position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0; */
    background: url(../img/дом_обр.png) no-repeat;
    background-size: 100%;
}

main {
    margin-top: 7rem;
    margin-left: 9rem;
    width: 40rem;
    height: 43rem;
    /* border: 2px solid black; */
    float: left;
    /* background: rgba(0, 153, 255, 0.8);
    box-shadow: rgba(0, 60, 100, 0.8) 15px 15px 3px 0px;
    border-radius: 20px; */

    
}


a {text-decoration: none;}

a:link {color: inherit;}

a:visited {color: inherit;}


.dom {
    width: min-content;
    display: inline-block;
    margin-left: 25rem;
    margin-top: 8rem;
}

a {
    width: 29.625rem;
    height: 9.3125rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Neucha;
    font-size: 64px;
}

.itaj1{
    position: absolute;
    width: 29.625rem;
    height: 9.3125rem;
    left: 60%;
    top: 16%;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    
    box-shadow: inset black 0px 0px 0px 0px;
}


.itaj2{
    position: absolute;
    width: 29.625rem;
    height: 9.3125rem;
    left: 60%;
    top: 32%;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    
    box-shadow: inset black 0px 0px 0px 0px;
}

.itaj3{
    position: absolute;
    width: 29.625rem;
    height: 9.3125rem;
    left: 60%;
    top: 48%;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    
    box-shadow: inset black 0px 0px 0px 0px;
}

.itaj4{
    position: absolute;
    width: 29.625rem;
    height: 9.3125rem;
    left: 60%;
    top: 64%;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    
    box-shadow: inset black 0px 0px 0px 0px;
}

.itaj1:hover {
    transition: box-shadow 0s ease-in-out;
    box-shadow: inset rgb(0, 153, 255) 0px 0px 40px 10px, rgb(0, 153, 255) 0px 0px 25px 4px;

}

.itaj2:hover {
    transition: box-shadow 0s ease-in-out;
    box-shadow: inset rgb(0, 153, 255) 0px 0px 40px 10px, rgb(0, 153, 255) 0px 0px 25px 4px;

}

.itaj3:hover {
    transition: box-shadow 0s ease-in-out;
    box-shadow: inset rgb(0, 153, 255) 0px 0px 40px 10px, rgb(0, 153, 255) 0px 0px 25px 4px;

}

.itaj4:hover {
    transition: box-shadow 0s ease-in-out;
    box-shadow: inset rgb(0, 153, 255) 0px 0px 40px 10px, rgb(0, 153, 255) 0px 0px 25px 4px;

}

.zagolovok {
    /* border: 1px solid green; */
    font-family: Neucha;
    font-size: 4.768rem;
    line-height: 77px;
    text-align: center;
    margin-bottom: 2rem;
    
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.osntext {
    /* border: 1px solid green; */
    width: 33rem;
    font-family: Neucha;
    font-size: 2.441rem;
    line-height: 35px;
    text-align: justify;
    text-indent: 60px;
    margin: auto;


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.test {
    width: 200px;
    height: max-content;
    position: absolute;
    top: 820px;
    left: 850px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 40px 2px;
}

a.test:hover {
    transition: all 0.15s ease-in-out;
    background-color: rgba(0, 153, 255, 0.75);
    box-shadow: rgb(0, 153, 255) 0px 0px 25px 4px;
}

img.logo {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 15px;
    top: 10px;
    border-radius: 100%;
}